/* mix-in */
body {
  background-color: #fbf9f3;
  font-size: 16px;
}

.wrapper {
  position: relative;
  min-height: 100%;
}

main {
  padding-bottom: 60px;
}

a.navbar-brand, span.logo,
h1, h2, h3, h4, h5, h6,
label, footer .row,
input[type='submit'] {
  font-family: 'Cinzel', cursive;
  display: block;
  color: #f39605;
}
a.navbar-brand::first-letter, span.logo::first-letter,
h1::first-letter, h2::first-letter, h3::first-letter, h4::first-letter, h5::first-letter, h6::first-letter,
label::first-letter, footer .row::first-letter,
input[type='submit']::first-letter {
  font-size: 120%;
}

h1 {
  font-size: 3.5rem;
}

.section h2 {
  margin: 20px 0px;
}

:before, :after {
  font-family: 'Glyphicons Halflings';
}

a, a:link, a:focus, a:visited, a:hover {
  outline: none;
}

.accent,
#resources h5 a {
  color: #af1050 !important;
}

input, textarea,
textarea:hover, input:hover,
textarea:active, input:active,
textarea:focus, input:focus {
  outline: 0px !important;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}

ul {
  padding-left: 0px;
  margin: 0px;
}
ul.clean {
  list-style-type: none !important;
}

header {
  position: relative;
}

.jumbotron, footer {
  background-size: cover !important;
}

.jumbotron a:hover {
  text-decoration: none;
}
.jumbotron .banner {
  text-align: center;
}
.jumbotron .banner h1 a, .jumbotron .banner h2, .jumbotron .banner span {
  color: #f39605;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}
.jumbotron .banner h2 {
  color: #fbf9f3;
}
.jumbotron .banner span {
  font-size: 14px;
}

.navbar {
  width: 100%;
  margin-bottom: 0px;
  background-color: rgba(51, 38, 28, 0.7);
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}
.navbar a {
  color: #f39605;
}
.navbar a:hover {
  color: ocre-lt;
}
.navbar .navbar-brand:hover {
  color: #f39605;
  text-decoration: none;
}
.navbar .navbar-collapse a {
  height: 50px;
  padding-top: 15px;
}
.navbar .navbar-collapse a, .navbar .navbar-collapse a:visited {
  color: #f39605;
}
.navbar .navbar-collapse li:hover a, .navbar .navbar-collapse a.active, .navbar .navbar-collapse a:focus {
  color: #fbbd5c;
  background-color: #33261c;
  text-decoration: underline;
}

.section .container {
  max-width: 1200px;
}
.section h2 {
  text-align: center;
}
.section p {
  line-height: 2.5rem;
}

.section .framed h3, .section .framed li {
  color: #33261c;
}
.section .framed .txt-container {
  text-align: left;
}
.section .framed .txt-container ul {
  margin-top: 30px;
  text-align: left;
  list-style-type: disc;
}
.section .framed .txt-container li {
  margin-bottom: 10px;
}

#about em {
  font-weight: 500;
}
#about .container {
  padding-bottom: 0px;
}
#about .testimonials {
  margin: 0px;
}
#about .testimonials li {
  padding: 20px 20px 50px;
}
#about .testimonials span {
  display: block;
  position: absolute;
  bottom: 20px;
  right: 40px;
  font-style: italic;
}

#contactPanel a, #contactPanel a:hover, #contactPanel a:link, #contactPanel a:focus, #contactPanel a:visited {
  color: #33261c;
  text-decoration: none;
}
#contactPanel a:hover, #contactPanel #email a {
  text-decoration: underline;
}
#contactPanel .txt-container {
  height: 400px;
  padding: 50px;
}
#contactPanel ul {
  padding-left: 0px;
  padding-top: 20px;
}

#caseWall .container > h6 {
  width: 90%;
  margin: 50px auto 20px;
  text-align: center;
  color: #af1050;
}

#picWall .pic-frame a {
  display: block;
  width: 100%;
  height: 100%;
}
#picWall .pic-frame a h6 {
  color: #fbf9f3;
  margin-bottom: 0px;
}
#picWall .pic-frame a h5 {
  margin-top: 0px;
}

.case-nav ul {
  margin: 20px auto 0px;
  overflow: hidden;
}
.case-nav li {
  border: 1px solid #33261c;
  background: #f6f3ec url(../img/sprites.jpg);
  opacity: 0.4;
  transition: all 0.8s;
}
.case-nav li:hover, .case-nav li.active {
  opacity: 1;
  transition: all 0.8s;
}
.case-nav a {
  display: block;
  width: 100%;
  height: 100%;
}

.case {
  text-align: center;
}
.case h3, .case .case-info, .case h2, .case .case-intro {
  text-align: center;
}
.case h3 {
  margin-bottom: 0px;
  color: #33261c;
}
.case h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid #a5a099;
  margin-top: 0px;
}
.case .case-info {
  display: inline-block;
  margin: 0px auto;
  overflow: hidden;
}
.case .case-info li {
  float: left;
  padding: 0px 12px;
  font-size: 14px;
}
.case .case-info span {
  display: inline-block;
  padding: 0px 12px;
}
.case .case-container {
  margin: 0px;
  padding: 0px;
}
.case .case-intro {
  text-align: left;
}
.case .segment {
  background-color: #f6f3ec;
  padding: 30px 30px 0px;
}
.case .segment .img-container {
  overflow: hidden;
}
.case .segment .img-container img {
  max-width: 100%;
  height: auto;
}
.case .segment .info-section {
  text-align: left;
  font-size: 14px;
}
.case .step {
  margin: 0px;
}

#contactPanel a, #contactPanel a:hover, #contactPanel a:link, #contactPanel a:focus, #contactPanel a:visited {
  color: #33261c;
  text-decoration: none;
}
#contactPanel a:hover, #contactPanel #email a {
  text-decoration: underline;
}
#contactPanel .txt-container {
  height: 400px;
  padding: 50px;
}
#contactPanel ul {
  padding-left: 0px;
  padding-top: 20px;
}
#contactPanel ul #email, #contactPanel ul #address, #contactPanel ul #phone {
  text-decoration: underline;
}
#contactPanel ul #email span, #contactPanel ul #address span, #contactPanel ul #phone span {
  margin-right: 5px;
}

#resources .container {
  padding-bottom: 0px;
}
#resources li, #resources p {
  text-align: left;
}
#resources h5 {
  margin-top: 50px;
}
#resources h5 a {
  color: #f39605;
}
#resources h5 a:after {
  content: ' >>';
  color: lt-ocre;
  font-size: 12px;
}

footer {
  color: #f39605;
  margin-bottom: 0px;
  text-align: center;
  letter-spacing: 0.1rem;
}
footer .container-fluid {
  padding: 30px 0px 30px;
  background-color: rgba(51, 38, 28, 0.3);
}
footer .container-fluid a {
  color: #f39605;
}
footer .container-fluid a:hover {
  color: ocre-lt;
}
footer #contact ul {
  overflow: hidden;
  max-width: 1100px;
  margin: 20px auto;
}
footer #contact li:not(.all) {
  width: 33%;
  float: left;
  text-align: center;
  font-size: 14px;
}
footer #contact a {
  text-decoration: underline;
}

@media only screen and (max-width: 767px) {
  .navbar {
    position: fixed;
    z-index: 1000;
    border: none;
    background: url("../img/xsm/bowtieXSM.jpg") no-repeat top center;
    background-size: 100% 60px;
  }
  .navbar h1 {
    margin: 0px;
  }
  .navbar .navbar-brand {
    font-size: 3rem;
    padding: 15px 0px;
  }
  .navbar .navbar-toggle {
    width: 65px;
    padding-left: 45px;
    margin-top: 15px;
    background-color: rgba(51, 38, 28, 0.3);
  }
  .navbar .navbar-toggle a {
    color: #f39605;
  }
  .navbar .navbar-toggle a:hover {
    color: ocre-lt;
  }
  .navbar .navbar-toggle:before {
    content: 'Menu';
    position: absolute;
    top: 6px;
    left: 0px;
    color: #f39605;
    font-size: 14px;
    font-weight: normal;
  }
  .navbar .icon-bar {
    background-color: #f39605;
  }
  .navbar .navbar-collapse {
    background-color: rgba(51, 38, 28, 0.9);
  }
  .navbar .navbar-collapse a {
    color: #f39605;
  }
  .navbar .navbar-collapse a:hover {
    color: ocre-lt;
  }

  .section h2 {
    font-size: 2.5rem;
  }
  .section .title-img {
    position: relative;
    height: 250px;
    background-color: #33261c;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 100%;
    overflow: hidden;
  }
  .section .title-img h2 {
    position: absolute;
    bottom: 0px;
    width: 100%;
    min-height: 60px;
    padding: 5px 15px;
    margin-bottom: 0px;
    background-color: rgba(51, 38, 28, 0.7);
  }
  .section .title-img h2 a {
    color: #f39605;
  }
  .section .title-img h2 a:hover {
    color: ocre-lt;
  }
  .section .title-img span {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    color: white;
  }
  .section .container {
    position: relative;
    padding: 30px 15px;
  }
  .section .txt-container {
    padding: 0px 0px 40px;
  }
  .section ul {
    padding: 0px 15px;
  }

  #intro .title-img {
    height: 275px;
    background-image: url("../img/intro.jpg");
    background-position: left 150%;
  }

  #services .title-img {
    background-image: url("../img/serv.jpg");
  }
  #services .txt-container {
    padding-bottom: 20px;
    border-bottom: 1px solid #a5a099;
    margin-bottom: 20px;
  }
  #services .txt-container h4 {
    color: #33261c;
  }
  #services .txt-container ul {
    margin-top: 0px;
  }

  #about .title-img {
    background-image: url("../img/olga.jpg");
    background-size: 110%;
    background-position: right 65%;
  }

  #caseWall {
    padding-bottom: 0;
  }
  #caseWall .title-img {
    background-image: url("../img/xsm/cases.jpg");
    background-position: left 55%;
  }
  #caseWall .container {
    padding: 0px;
  }

  #picWall .container {
    padding: 0px 0px 40px;
  }
  #picWall .pic-frame {
    height: 140px;
    padding: 0px 5px 10px;
    border-bottom: 1px dotted #f39605;
    overflow: hidden;
    transition: all 0.8s;
  }
  #picWall .pic-frame a {
    color: #33261c;
  }
  #picWall .pic-frame a:hover {
    text-decoration: none;
  }
  #picWall .pic-frame:hover {
    background-color: #f6f3ec;
    transition: all 0.8s;
  }
  #picWall .pic-frame h6 {
    color: #a5a099;
  }
  #picWall .details {
    position: relative;
    min-height: 120px;
    padding-left: 125px;
    padding-right: 25px;
    text-align: left;
    font-size: 1.2rem;
  }
  #picWall .details:before {
    content: '';
    position: absolute;
    left: 0px;
    display: block;
    width: 120px;
    height: 120px;
    background: url("../img/xsm/sprites.jpg") no-repeat;
    background-size: 600%;
  }
  #picWall .details:after {
    content: '\e080';
    position: absolute;
    right: 5px;
    top: 50px;
    font-family: 'Glyphicons Halflings';
    font-size: 2rem;
  }
  #picWall li:first-child {
    font-weight: bold;
  }
  #picWall #girl .details:before {
    background-position: 0px 0px;
  }
  #picWall #elephant .details:before {
    background-position: -120px 0px;
  }
  #picWall #street .details:before {
    background-position: -240px 0px;
  }
  #picWall #landscape .details:before {
    background-position: -360px 0px;
  }
  #picWall #bird .details:before {
    background-position: -480px 0px;
  }
  #picWall #KnellerPaintingRestoration .details:before {
    background-position: 0px -120px;
  }
  #picWall #virgin .details:before {
    background-position: -120px -120px;
  }
  #picWall #LilacsPaintingRestoration .details:before {
    background-position: -240px -120px;
  }
  #picWall #womanPortrait .details:before {
    background-position: -360px -120px;
  }
  #picWall #saints .details:before {
    background-position: -480px -120px;
  }
  #picWall #manPortrait .details:before {
    background-position: -600px -120px;
  }

  .case {
    margin-top: 50px;
    text-align: center;
  }
  .case h3, .case h2 {
    font-size: 18px;
  }
  .case a.glyphicon {
    width: 5%;
    float: left;
    color: #a5a099;
  }
  .case a.glyphicon:hover {
    text-decoration: none;
  }
  .case .case-info {
    width: 90%;
    float: left;
    padding: 0px;
  }
  .case .case-info li {
    width: 100%;
    padding: 0px 3px;
    font-size: 11px;
  }
  .case .segment {
    margin-bottom: 20px;
  }
  .case .info-section {
    margin-top: 20px;
    font-size: 14px;
  }
  .case .info-section p {
    padding-bottom: 20px;
  }

  #testimonials .title-img {
    background-image: url("../img/xsm/face.jpg");
    background-position: left bottom;
  }
  #testimonials li {
    padding: 0px 0px 30px;
    border-bottom: 1px dotted #a5a099;
    margin-bottom: 10px;
  }
  #testimonials span {
    display: block;
    width: 100%;
    text-align: right;
  }

  #contactPanel .title-img {
    background-image: url("../img/map.jpg");
    background-position: top center;
  }
  #contactPanel .txt-container {
    padding: 0px;
    margin: 0px;
  }
  #contactPanel h5 {
    color: #33261c;
  }
  #contactPanel ul {
    padding-top: 0px;
    margin-top: 0px;
  }

  #resources .title-img {
    height: 275px;
    background-image: url("../img/xsm/detail.jpg");
    background-position: left 10px;
  }

  footer {
    position: fixed;
    bottom: 0px;
    z-index: 1000;
    height: 40px;
    -webkit-box-shadow: 0px -2px 2px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px -2px 2px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px -2px 2px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.8s;
  }
  footer.openUp {
    height: 190px;
    background-color: #33261c;
    transition: all 0.8s;
  }
  footer.openUp:before {
    content: '\e088';
    position: absolute;
    top: 7px;
    right: 7px;
    color: #f39605;
    font-weight: lighter;
    z-index: 1000;
  }
  footer .container-fluid {
    padding-top: 0px;
    background-color: rgba(51, 38, 28, 0.9);
  }
  footer .container-fluid a {
    color: #f39605;
  }
  footer .container-fluid a:hover {
    color: ocre-lt;
  }
  footer h6.a {
    color: #fbf9f3;
  }

  #mNav {
    padding: 0px;
    margin: 0px;
    text-align: center;
  }
  #mNav ul {
    width: 80%;
    padding: 0px;
    margin: 0px auto;
  }
  #mNav ul:after {
    content: 'Studio Visits By Appointment Only';
    font-size: 10px;
    width: 240px;
    margin: 0px auto;
    color: #fbf9f3;
    letter-spacing: normal;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  #mNav li {
    position: relative;
    height: 40px;
  }
  #mNav li:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 35%;
    font-size: 2rem;
    color: #fbf9f3;
  }
  #mNav li#call:after {
    content: '\e182';
  }
  #mNav li#text:after {
    content: '\e111';
  }
  #mNav li#emailUs:after {
    content: '\2709';
  }
  #mNav li#showMap:after {
    content: '\e062';
  }
  #mNav a {
    position: relative;
    z-index: 1500;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fbf9f3;
    text-indent: -9999px;
    border-radius: 10px;
  }
  #mNav a:hover {
    background-color: rgba(243, 150, 5, 0.2);
  }
}
@media only screen and (max-width: 767px) and (orientation: landscape) {
  .navbar li {
    height: 40px;
  }
  .navbar li.contact {
    display: block;
  }

  #intro .title-img {
    height: 250px;
    background-position: left bottom;
  }

  #about .title-img {
    background-position: right 55%;
  }

  #contactPanel .title-img {
    background-position: center 38%;
  }

  #testimonials .title-img {
    background-position: right 55%;
  }

  .case ul.step {
    overflow: hidden;
  }
  .case ul.step li {
    float: left;
  }
  .case ul.step .img-container {
    width: 65%;
    padding: 0px 20px;
  }
  .case ul.step .info-section {
    width: 35%;
  }

  footer {
    position: relative;
  }
}
@media (min-width: 768px) {
  .mobile-only {
    display: none !important;
  }

  .navbar {
    position: absolute;
    bottom: 0px;
  }
  .navbar .navbar-collapse ul {
    width: 90%;
    float: none;
    margin: 0px auto;
  }
  .navbar .navbar-collapse ul li {
    width: 15%;
  }
  .navbar .navbar-collapse ul li:nth-child(3) {
    width: 150px;
  }
  .navbar .navbar-collapse ul a {
    padding: 15px 10px;
    text-align: center;
  }

  .jumbotron {
    padding: 10px 10px 70px;
  }
  .jumbotron .banner h1 {
    margin-bottom: 0px;
  }
  .jumbotron .banner h2 {
    width: 80%;
    margin: 0px auto;
  }

  .jumbotron, footer {
    background: url("../img/sm/bowtieSM.jpg") no-repeat center top;
  }

  .section .framed {
    border-top: 1px solid #33261c;
    background-repeat: no-repeat;
    background-position: left bottom;
  }
  .section .framed .txt-container {
    width: 60%;
    padding: 30px 10px 30px 30px;
    margin-left: 40%;
    background-color: #f6f3ec;
  }

  #intro .framed {
    background-image: url("../img/intro.jpg");
    background-size: 65%;
    background-position: -60px 0px;
  }

  #services .framed {
    margin-bottom: 50px;
    background-image: url("../img/serv.jpg");
    background-size: 82%;
    background-position: -190px 0px;
  }

  #about .framed {
    margin-bottom: 60px;
    background-image: url("../img/olga.jpg");
    background-size: 100%;
  }

  #contactPanel .framed {
    overflow: hidden;
    background: url("../img/map.jpg") no-repeat top left;
  }

  #picWall .pic-container {
    position: relative;
    height: 875px;
  }
  #picWall .pic-frame {
    position: absolute;
    overflow: hidden;
    border: 2px solid #33261c;
    background: #33261c url("../img/sprites.jpg") no-repeat;
    -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
    transition: all 0.8s;
  }
  #picWall .pic-frame:hover .details {
    bottom: 0px;
    transition: all 0.8s;
  }
  #picWall #girl {
    top: 0px;
    left: 0px;
    width: 250px;
    height: 295px;
  }
  #picWall #landscape {
    top: 0px;
    left: 430px;
    width: 290px;
    height: 180px;
    background-position: -586px 0px;
  }
  #picWall #manPortrait {
    top: 195px;
    left: 495px;
    width: 225px;
    height: 300px;
    background-position: -440px -208px;
  }
  #picWall #KnellerPaintingRestoration {
    top: 310px;
    left: 15px;
    width: 235px;
    height: 285px;
    background-position: -897px 0px;
  }
  #picWall #saints {
    top: 0px;
    left: 265px;
    width: 150px;
    height: 180px;
    background-position: -426px 0px;
  }
  #picWall #LilacsPaintingRestoration {
    top: 195px;
    left: 265px;
    width: 215px;
    height: 180px;
    background-position: -192px -318px;
  }
  #picWall #bird {
    top: 390px;
    left: 265px;
    width: 215px;
    height: 270px;
    background-position: -888px -323px;
  }
  #picWall #street {
    top: 510px;
    left: 495px;
    width: 180px;
    height: 275px;
    background-position: -700px -217px;
  }
  #picWall #womanPortrait {
    top: 675px;
    left: 350px;
    width: 130px;
    height: 185px;
    background-position: -285px -118px;
  }
  #picWall #womanPortrait.details {
    padding-top: 10px;
    padding-bottom: 0px;
  }
  #picWall #virgin {
    top: 610px;
    left: 0px;
    width: 180px;
    height: 248px;
    background-position: -4px -319px;
  }
  #picWall #elephant {
    top: 675px;
    left: 200px;
    width: 130px;
    height: 105px;
    background-position: -284px -1px;
  }
  #picWall .details {
    position: absolute;
    bottom: -200px;
    background-color: rgba(51, 38, 28, 0.9);
    color: #fbf9f3;
    padding: 5px 3px;
    text-align: center;
    transition: all 0.8s;
  }
  #picWall .details a {
    color: #f39605;
  }
  #picWall .details a:hover {
    color: ocre-lt;
  }

  .case-nav ul {
    width: 614px;
  }
  .case-nav li {
    height: 120px;
    background-size: 725%;
  }
  .case-nav li.girl {
    background-position: -30px -10px;
  }
  .case-nav li.land {
    background-position: -850px -98px;
  }
  .case-nav li.man {
    background-position: -296px -163px;
  }
  .case-nav li.pitt {
    background-position: -603px -8px;
  }
  .case-nav li.saints {
    background-position: -269px -0px;
  }
  .case-nav li.LilacsPaintingRestoration {
    background-position: -137px -200px;
  }
  .case-nav li.bird {
    background-position: -579px -208px;
  }
  .case-nav li.street {
    background-position: -450px -186px;
  }
  .case-nav li.woman {
    background-size: 850%;
    background-position: -209px -88px;
  }
  .case-nav li.virgin {
    background-position: -11px -210px;
  }
  .case-nav li.elephant {
    background-size: 1270%;
    background-position: -335px 0px;
  }

  .case-info li:first-child {
    padding-right: 0px;
  }
  .case-info li:first-child:after {
    content: '|';
    margin-left: 12px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  .case-info span {
    display: inline-block;
    padding: 0px 12px;
  }

  .case {
    padding-top: 50px;
  }
  .case .segment {
    border: 15px solid #fbf9f3;
  }
  .case .img-container {
    height: 300px;
  }
  .case .info-section {
    padding: 20px 0px;
    margin-bottom: 20px;
  }
  .case.girl .info-section {
    height: 150px;
  }
  .case.land .img-container {
    height: 175px;
  }
  .case.land .info-section {
    height: 200px;
  }
  .case.man .img-container {
    height: 260px;
  }
  .case.man .info-section {
    height: 160px;
  }
  .case.man .segment:nth-child(3) .info-section,
  .case.man .segment:nth-child(4) .info-section {
    height: 200px;
  }
  .case.pitt .img-container {
    padding: 0px 10px;
  }
  .case.pitt .info-section {
    height: 250px;
  }
  .case.saints .segment:nth-child(2n) img,
  .case.saints .segment:nth-child(3n) img {
    height: 100%;
    width: auto;
  }
  .case.saints .img-container {
    height: 330px;
  }
  .case.saints .info-section {
    height: 190px;
  }
  .case.LilacsPaintingRestoration .segment:nth-child(2n) img,
  .case.LilacsPaintingRestoration .segment:last-child img {
    height: 100%;
    width: auto;
    max-width: auto;
  }
  .case.LilacsPaintingRestoration .img-container {
    height: 220px;
  }
  .case.LilacsPaintingRestoration .info-section {
    height: 145px;
  }
  .case.bird .img-container {
    height: 320px;
  }
  .case.bird .segment:nth-child(3n) .img-container,
  .case.bird .segment:last-child .img-container {
    height: 175px;
  }
  .case.bird .info-section {
    height: 170px;
  }
  .case.street ul.step {
    overflow: hidden;
    padding-bottom: 30px;
  }
  .case.street ul.step li {
    float: left;
  }
  .case.street ul.step .img-container {
    width: 60%;
    height: 100%;
    padding: 0px 20px;
  }
  .case.street ul.step .info-section {
    width: 40%;
    padding-top: 0px;
  }
  .case.woman .info-section {
    height: 210px;
  }
  .case.virgin .img-container {
    height: 200px;
  }
  .case.virgin .info-section {
    height: 300px;
  }
  .case.elephant .segment {
    border-left-width: 0px;
    border-right-width: 0px;
    height: 290px;
    text-align: left;
  }
  .case.elephant .img-container {
    height: 150px;
  }
  .case.elephant .img-container img {
    height: 150px;
    width: auto;
  }

  footer {
    position: relative;
  }
  footer #contact {
    margin: 20px 0px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .section .framed {
    margin-bottom: 30px;
  }

  #about .framed {
    background-position: center 375%;
  }
  #about .framed .txt-container {
    width: 100%;
    padding: 30px 10px;
    margin-top: 330px;
    margin-left: 0px;
  }
  #about .testimonials {
    border-top: 1px solid #33261c;
    padding-top: 20px;
  }
  #about .testimonials li {
    border-bottom: 1px dotted #a5a099;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 980px) {
  .jumbotron, footer {
    background: #33261c url("../img/md/bowtieMD.jpg") no-repeat center top;
  }

  .section .container,
  #picWall .container {
    width: 960px;
  }

  .section h2 {
    font-size: 3rem;
  }

  #intro .framed {
    background-size: 45%;
    background-position: 0px -20px;
  }

  #services .framed {
    background-size: 55%;
    background-position: -97px -15px;
  }
  #services .txt-container h4,
  #services .txt-container ul {
    margin-left: 30px;
  }

  #about .framed {
    background-size: 50%;
    background-position: -85px 0px;
  }
  #about .testimonials {
    margin-left: -20px;
    margin-right: -20px;
  }
  #about .testimonials li {
    width: 50%;
    float: left;
    border: 20px solid #fbf9f3;
    margin-bottom: 0px;
    background-color: #f6f3ec;
  }
  #about .testimonials p {
    min-height: 200px;
  }

  #contactPanel .img-container {
    background: url("../img/md/mapMDL.jpg") no-repeat top center;
  }

  #picWall .pic-container {
    height: 750px;
  }
  #picWall #girl {
    top: 45px;
    width: 245px;
    height: 299px;
  }
  #picWall #landscape {
    left: 410px;
    width: 275px;
    height: 165px;
    background-size: 385%;
    background-position: -535px -10px;
  }
  #picWall #manPortrait {
    top: 180px;
    left: 435px;
    width: 250px;
    height: 315px;
    background-size: 475%;
    background-position: -442px -225px;
  }
  #picWall #KnellerPaintingRestoration {
    top: 45px;
    left: 700px;
    width: 230px;
  }
  #picWall #saints {
    left: 260px;
    width: 135px;
    height: 165px;
    background-size: 770%;
    background-position: -377px -2px;
  }
  #picWall #LilacsPaintingRestoration {
    top: 510px;
    left: 435px;
    width: 250px;
    height: 200px;
    background-size: 504%;
    background-position: -203px -344px;
  }
  #picWall #bird {
    top: 345px;
    left: 700px;
    width: 205px;
    height: 247px;
  }
  #picWall #street {
    top: 360px;
    left: 85px;
    width: 160px;
    height: 245px;
    background-size: 630%;
    background-position: -598px -177px;
  }
  #picWall #womanPortrait {
    top: 180px;
    left: 260px;
    width: 160px;
    height: 200px;
    background-size: 850%;
    background-position: -326px -135px;
  }
  #picWall #virgin {
    top: 510px;
    left: 265px;
    width: 150px;
    height: 200px;
    background-size: 620%;
    background-position: -0px -253px;
  }
  #picWall #elephant {
    top: 395px;
    left: 275px;
    height: 100px;
  }

  .case-nav ul {
    width: 960px;
  }
  .case-nav li {
    width: 84px;
    height: 84px;
    padding: 0px;
    background-size: 676%;
  }
  .case-nav li.land {
    background-position: -850px -10px;
  }
  .case-nav li.man {
    background-position: -216px -129px;
  }
  .case-nav li.pitt {
    background-position: -451px -8px;
  }
  .case-nav li.saints {
    background-position: -201px -0px;
  }
  .case-nav li.LilacsPaintingRestoration {
    background-position: -101px -153px;
  }
  .case-nav li.bird {
    background-position: -437px -159px;
  }
  .case-nav li.street {
    background-position: -339px -142px;
  }
  .case-nav li.woman {
    background-position: -170px -74px;
  }
  .case-nav li.virgin {
    background-position: -3px -165px;
  }
  .case-nav li.elephant {
    background-position: -257px 0px;
  }

  .case .img-container {
    height: 350px;
  }
  .case .info-section {
    height: 120px;
  }
  .case.land .img-container {
    height: 250px;
  }
  .case.land .info-section {
    height: 170px;
  }
  .case.man .info-section {
    height: 120px;
  }
  .case.pitt .img-container {
    height: 385px;
    padding: 0px 15px;
  }
  .case.pitt .info-section {
    height: 180px;
  }
  .case.saints .info-section {
    height: 140px;
  }
  .case.LilacsPaintingRestoration .info-section {
    height: 110px;
  }
  .case.bird .info-section, .case.woman .info-section {
    height: 150px;
  }
  .case.virgin .img-container {
    height: 305px;
  }
  .case.virgin .info-section {
    height: 240px;
  }
  .case.elephant .segment {
    height: 300px;
  }
  .case.elephant .img-container {
    height: 210px;
    padding-top: 0px;
  }
  .case.elephant .img-container img {
    height: 210px;
  }

  footer #contact {
    width: 80%;
    margin: 0px auto;
  }
}
@media (min-width: 1200px) {
  .navbar .navbar-collapse {
    width: 65%;
    float: right;
  }

  .jumbotron .banner {
    float: left;
    width: 45%;
    margin-left: 5%;
    text-align: center;
  }

  .jumbotron, footer {
    background: #33261c url("../img/lg/bowtieLG.jpg") no-repeat center top;
  }

  .section .container {
    width: 1024px;
  }

  #intro .framed {
    background-size: 40%;
  }

  #about .testimonials p {
    min-height: 175px;
  }

  #contactPanel .img-container {
    background: url("../img/lg/map.jpg") no-repeat center left;
  }

  #picWall .container {
    width: 1140px;
    margin: 0px auto;
  }
  #picWall .pic-container {
    height: 550px;
  }
  #picWall #girl {
    top: 0px;
    width: 250px;
    height: 290px;
    background-position: -15px 0px;
  }
  #picWall #landscape {
    left: 575px;
    width: 285px;
    height: 170px;
    background-position: -555px -5px;
  }
  #picWall #manPortrait {
    top: 190px;
    left: 410px;
    width: 260px;
    height: 340px;
    background-position: -459px -220px;
  }
  #picWall #KnellerPaintingRestoration {
    top: 0px;
    left: 880px;
    height: 290px;
    background-size: 470%;
    background-position: -831px 3px;
  }
  #picWall #saints {
    left: 410px;
    width: 145px;
    height: 170px;
    background-position: -408px -5px;
  }
  #picWall #LilacsPaintingRestoration {
    top: 365px;
    left: 185px;
    width: 205px;
    height: 165px;
    background-size: 575%;
    background-position: -215px -333px;
  }
  #picWall #bird {
    top: 310px;
    left: 880px;
    width: 170px;
    height: 220px;
    background-size: 550%;
    background-position: -713px -257px;
  }
  #picWall #street {
    top: 190px;
    left: 690px;
    width: 170px;
    height: 260px;
    background-position: -636px -187px;
  }
  #picWall #womanPortrait {
    top: 170px;
    left: 270px;
    width: 120px;
    height: 175px;
    background-size: 950%;
    background-position: -277px -110px;
  }
  #picWall #virgin {
    top: 310px;
    left: 0px;
    width: 165px;
    height: 220px;
    background-size: 612%;
    background-position: 1px -273px;
  }
  #picWall #elephant {
    top: 60px;
    left: 270px;
    width: 120px;
    height: 90px;
    background-size: 850%;
    background-position: -242px -2px;
  }

  .case-nav ul {
    width: 990px;
  }
  .case-nav li {
    width: 90px;
    height: 90px;
    background-size: 628%;
  }
  .case-nav li.saints {
    background-size: 750%;
    background-position: -245px -10px;
  }
  .case-nav li.street {
    background-size: 675%;
    background-position: -364px -157px;
  }
  .case-nav li.woman {
    background-size: 802%;
  }
  .case-nav li.virgin {
    background-size: 657%;
  }
  .case-nav li.elephant {
    background-position: -285px 0px;
  }

  .case .img-container {
    height: 350px;
  }
  .case .info-section {
    height: 120px;
  }
  .case.man .info-section {
    height: 200px;
  }
}
@media (min-width: 1680px) {
  body {
    text-align: center;
  }
  body .container {
    width: 1280px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .jumbotron, footer {
    background: #33261c url("../img/xlg/bowtieXLG.jpg") no-repeat center top;
  }
}
