//========================
//**** MOBILE XSM 15px ***
//=========================
@media only screen and (max-width: 767px) {
	// .wrapper	{
	// 	padding-bottom: 20px;
	// }
	.navbar {
		position: fixed;
		z-index: 1000;
		background: url('../img/xsm/bowtieXSM.jpg') no-repeat top center;
		margin-bottom: 0px;
		border: 0px;
		h1 {
			margin-top: 10px;
		}
		.navbar-brand {
			height: auto;
			padding: 0px 10px;
			font-size: 2.5rem;
		}
		.navbar-toggle {
			@include transBr();
			width: 85px;
			height: 30px;
			padding: 1px;
			padding-left: 45px;
			&:before {
				content:'Menu';
				position: absolute;
				top: 2px;
				left: 2px;
				color: $ocre;
			}
		}
		.icon-bar {
			background-color: $ocre;
		}
		.navbar-collapse {
			background-color: $dark;
		}
	} //navbar

	.section {
		padding: 40px 0px 40px;
		.container {
			padding: 25px 15px;
		}
		.framed {
			padding-bottom: 20px;
		}
		h2 {
			font-size: 2.5rem;
			margin-top: 0px;
		}//h2
		.row {
			padding: 20px 10px;
			margin: 0px;
			> div {
				padding: 0px;
			}
		}
		h6.mobile-only {
			margin-top: 50px;
		}
	}//section

	#services,
	#about {
		position: relative;
		padding-top: 0;
		.container {
			padding: 0px;	
			margin: 0;
		}//container
		h2 {
			font-size: 24px;
			text-align: center;
			&.title {
				position: absolute;
				left: 0px;
				z-index: 10;
			  width: 100%;
			  height: 70px;
				margin-top: 0;
				@include transBr(0.3);
			}//:first-child 
		}//h2
		.img-container {
			width: 100%;
			height: 245px;
			background-size: cover;
		}//img-container
		.txt-container {
			padding: 30px 30px 40px;
		}
	}

	#about {	
		margin-top: -5px;
		h2.title {
			top: 175px;
		}	
		.img-container {
			background: url('../img/xsm/olga.jpg') no-repeat top left;
		}//img-container
		.testimonials {
			li {
				padding-bottom: 50px;
				margin-bottom: 15px;
				border-bottom: 1px dotted $dk-zepia;
			}
		}//testimonials
	}//about

	#contactPanel {
		.framed {
			position: relative;
			padding-bottom: 270px;
		}
		.row, .img-container, .txt-container {
			padding: 0px;
			margin: 0px;
		}
		li.map {
			position: absolute;
			bottom: 20px;
			width: 90%;
		}//li with img
		.img-container {
			max-width: 95%;
			height: 200px;
			background: url('../img/xsm/map.jpg') no-repeat top right;
			background-size: cover;
		}
		.txt-container {
			ul {
				margin-top: 0px;
			}
		}//txt-container
	}//contactPanel
	
	#services {
		.container {
			position: relative;
			margin-top: -10px;
			.framed {
				position: absolute;
				top: 0px;
			}
		}
		p {
			//padding: 10px 20px;
		}
		h2.title {
			top: 175px;
		}
		.img-container {
			background: url('../img/xsm/services.jpg') no-repeat top left;
		}//img-container
	}//services
	#caseWall {
			padding-bottom: 0;
		}
	#picWall {
		.container {
			padding: 0px 0px 40px;
			border-top: 1px dotted $ocre;
		}//container

		.pic-frame {
			height: 140px;
			padding: 0px 5px 10px;
			border-bottom: 1px dotted $ocre;
			overflow: hidden;
			@include transition();
			a {
				color: $dark;
				&:hover {
					text-decoration: none;
				}
			}//a
			&:hover {
				background-color: $zepia;
				
				@include transition();
			}
			h6 {
				color: $dk-zepia;
			}
		}//frame 
		.details {
			position: relative;
			min-height: 120px;
			padding-left: 125px;
			padding-right: 25px;
			text-align: left;
			font-size: 1.2rem;
			&:before {
				content:'';
				position: absolute;
				left: 0px;
				display: block;
				width: 120px;
				height: 120px;
				//border: 1px solid $dark;
				background: url('../img/xsm/sprites.jpg') no-repeat;
			}//:before
			
			&:after {
				content: '\e080';
				position: absolute;
				right: 5px;
				top: 50px;
				font-family: 'Glyphicons Halflings';
				font-size: 2rem;
			}//after
		}//details
		li:first-child {
			font-weight: bold;
		}//li
		#girl {
			.details:before {
				background-position: 0px 0px;
				}		
		}//girl
		#elephant {
			.details:before {
				background-position: -120px 0px;
			}
		}//elephant
		#street {
			.details:before {
				background-position: -240px 0px;
			}
		}//st
		#landscape {
			.details:before {
				background-position: -360px 0px;
			}
		}//landscape
		#bird {
			.details:before {
				background-position: -480px 0px;
			}		
		}//bird
		#mrsPitt  {
			.details:before {
				background-position: 0px -120px
			}
		}//mrsPitt
		#virgin  {
			.details:before {
				background-position: -120px -120px
			}
		}//virgin
		#lilacs {
			.details:before {
				background-position: -240px -120px
			}
		}//lilacs
		#womanPortrait {
			.details:before {
				background-position: -360px -120px
			}	
		}//woman
		#saints {
			.details:before {
				background-position: -480px -120px;
			}
		}//saints
		#manPortrait {
			.details:before {
				background-position: -600px -120px
			}
		}//manPortrait
	}//casewall

	#caseContent {
		> .container {
			position: relative;
			padding: 0px;
		}
		h3 {
			padding-top: 40px;
			padding-left: 12px;
			font-size: 1.7rem;
			text-align: left;
		}
		h2.title {
			position: absolute;
			top: 10px;
			padding-left: 12px;
			font-size: 1.7rem;
			text-align: left;
		}
		.row {
			padding: 0;
			li.segment {
				padding: 0;
			}
		}
		.step {
			padding: 0;
		}
		.case-info {
			font-size: 1rem;
			overflow: hidden;
			li{
				text-align: left;
				&:last-child {
					width: 100%;
				}
			}
		}
		.info-section{
			padding: 10px 20px;
		}
	}//caseContent

	#caseStreet {
		.case-container {	
			padding: 0px 12px;
		}
	}
	#caseWoman {
		h3 {
			padding-top: 55px !important;
		}
	}
	footer {
		position: fixed;
		bottom: 0px;
		z-index: 1000;
		height: 40px;
		-webkit-box-shadow: 0px -2px 2px 1px rgba(0, 0, 0, 0.3);
		-moz-box-shadow:    0px -2px 2px 1px rgba(0, 0, 0, 0.3);
		box-shadow:         0px -2px 2px 1px rgba(0, 0, 0, 0.3);
		cursor: pointer;
		@include transition();
		&.openUp {
			height: 145px;
			background-color: $dark;
			@include transition();
			&:before {
				content: '\e088';
				position: absolute;
				top: 7px;
				right: 7px;
				color: $ocre;
				font-weight: lighter;
				z-index: 1000;
			}
		}//open
		.container-fluid {
			padding-top: 0px;
		}
		nav, ul, li {
			padding: 0px;
			margin: 0px;
		}
		nav {
			position: relative;
			top: 0px;
			width: 100%;	
		}//nav
		h5 {
				margin: 0px auto 15px;
				text-align: center;
				color: $ocre;
				cursor: pointer;
				height: 40px;
				line-height: 4rem;
		}//h5
		ul {
			width: 90%;
			margin: 0px auto;
		}
		li {
			position: relative;
			height: 40px;
			&:after {
			content: '';
			position: absolute;
			top: 5px;
			left: 35%;
			font-size: 2rem;
			color: $sand;
			}//after
			&#call:after {
				content: '\e182';
			}
			&#text:after {
				content: '\e111';
			}
			&#emailUs:after {
				content: '\2709';
			}
			&#showMap:after {
				content: '\e062';
			}
		}//li
		a {
			position: relative;
			z-index: 1500;
			display: block;
			width: 100%;
			height: 100%;
			text-align: center;
			color: $sand;
			text-indent: -9999px;
			border-radius: 10px;
			&:hover {
				background-color: transparentize($sand,0.8);
			}
		}//a
	}//footer

	@media (orientation: landscape) {
		.navbar li {
			height: 40px;
			&.contact {
				display: block;
			}
		}//.navbar li
		#about {
			h2:first-child {
				top: 205px;
				height: 40px;
			}
			.img-container {
				background: url('../img/xsm/olgXSL.jpg') no-repeat top left;
				background-size: cover;
			}//img-container
		}//about
		#services {
			h2.title {
				top: -70px;
			}
			.img-container {
				background: url('../img/xsm/servicesXSL.jpg') no-repeat top left;
			}//img-container
		}//services
	}//landscape
}// media mobile

//=========================
//******  KINDLE  SM  *****
//=========================
@media (min-width: 768px) {

	.mobile-only {
		display: none !important;
	}//mobile-only

	.wrapper {
		padding-bottom: 75px;
	}
	
	.navbar {
		position: absolute;
		bottom: 0px;
	}//navbar

	#headNav {
		li {
			height: 100%;
			padding: 0px 10px;
			&:nth-child(3) {
				width: 150px;
			}
			a {
				height: 50px;
			}
		}
	}

	.jumbotron, footer {
		background: url('../img/sm/bowtieSM.jpg') no-repeat center top;
		background-size: cover !important;
	}

	.jumbotron {
		padding: 10px 10px 70px;
		.banner {
			h1 {
				margin-bottom: 0px;
			}
			h2 {
				width: 80%;
				margin: 0px auto;
			}
		}
	}//jumbotron

	.section {
		.container {
			//padding: 30px;
			text-align: center;
		}
		h2 {
			margin-top: 30px;
			margin-bottom: 50px;
		}//navbar-brand
		.row {
			margin: 0px;
		}
		p {
			line-height: 2.5rem;
			margin-bottom: 2rem;
		}
	}//section
	
	.section .framed {
		margin-top: 30px;
		border: 1px solid $dk-zepia;
		.img-container {
			height: 280px;
		}
		h2.title {
			width: 90%;
			margin: 0px auto;
		}
	}//framed
	
	#about {
		.img-container {
			background: $dk-zepia url('../img/sm/olga.jpg') no-repeat top left;
			background-size: cover;
		}
	}//about

	#contactPanel {
		.img-container {
			background: url('../img/sm/map.jpg') no-repeat top left;
		}//img-container
	}//contactPanel

	#services {
		.img-container {
			background: $dk-zepia url('../img/sm/services.jpg') no-repeat top left;
		}
		.txt-container {
			padding: 15px 30px;
			ul {
				margin-left: 20px;
				margin-right: 20px;
			}
		}
		p {
			text-align: left;
		}
	}//services

	#picWall {
		.pic-container {
			position: relative;
			min-height: 900px;
		}
		.pic-frame {
			position: absolute;
			overflow: hidden;
			border: 2px solid $dark;
			background: $dark url('../img/lg/sprites.jpg') no-repeat;
			@include shadow();
			@include transition();
			&:hover .details {
				bottom: 0px;
				@include transition();
			}
		}//frame
		#girl {
			top: 0px;
			left: 0px;
			width: 260px;
			height: 295px;
		}//girl
		#elephant {
			top: 625px;
			left: 185px;
			width: 125px;
			height: 105px;
			background-position: -279px -58px;
			background-size: 970%;
		}//elephant
		#womanPortrait {
			top: 625px;
			left: 325px;
			width: 145px;
			height: 200px;
			background-size: 930%;
			background-position: -319px -202px;
			&.details {
				padding-top: 10px;
				padding-bottom: 0px;
			}
		}//woman
		#saints {
			top: 0px;
			left: 275px;
			width: 150px;
			height: 180px;
			background-position: -420px 0px;
		}//saints
		#landscape {
			top: 0px;
			left: 445px;
			width: 290px;
			height: 180px;
			background-position: -590px 0px;
		}//landscape
		#mrsPitt  {
			top: 310px;
			left: 40px;
			width: 220px;
			height: 275px;
			background-size: 500%;
			background-position: -860px 0px;
		}//mrsPitt
		#virgin  {
			top: 600px;
			left: 0px;
			width: 170px;
			height: 225px;
			background-position: -21px -309px;
		}//virgin
		#lilacs {
			top: 200px;
			left: 275px;
			width: 215px;
			height: 175px;
			background-size: 625%;
			background-position: -249px -426px;
		}//lilacs
		#manPortrait {
			top: 200px;
			left: 505px;
			width: 230px;
			height: 300px;
			background-position: -433px -230px;
		}//manPortrait
		#street {
			top: 515px;
			left: 505px;
			width: 185px;
			height: 280px;
			background-size: 645%;
			background-position: -718px -206px;
		}//street
		#bird {
			top: 390px;
			left: 295px;
			width: 175px;
			height: 220px;
			background-position: -900px -315px;
		}//bird	
		.details {
			position: absolute;
			bottom: -200px;
			@include transBr();
			color: $sand;
			padding: 5px 3px;
			text-align: center;
			@include transition();
		}
	}//picWall

	#caseThmenu {
		ul {
			width: 614px;
		}
		li {
			background-size: 800%;
		}
		#thGirl {
			background-size: 600%;
			background-position: -30px -10px;
		}
		#thLandscape {
			background-size: 600%;
			background-position: -705px -80px;
		}
		#thMan {
			background-position: -333px -185px;
		}
		#thPitt {
			background-position: -670px -8px;
		}
		#thSaints {
			background-position: -300px -15px;
		}
		#thLilacs {
			background-position: -169px -261px;
		}
		#thBird {
			background-position: -645px -225px;
		}
		#thStreet {
			background-position: -505px -205px;
		} 
		#thWoman {
			background-size: 1000%;
			background-position: -252px -169px;
		}
		#thVirgin {
			background-position: -20px -230px;
		}
		#thElephant {
			background-size: 1100%;
			background-position: -270px -57px;
		}
	}

	#caseContent {
		h2.title {
			margin-top: -10px;
		}
		.case-info 	li {
			float: left;
			font-size: 14px;
		}//case-info
		.case-container {
			padding: 0 5%;
			.segment p {
				//min-height: 130px;
			}
		}
		.step {
			padding: 0% 5%;
		}
		.img-section {
			width: 100%;
			
			.img-container {
				width: 100%;
				height: auto;
				margin: 20px auto 0px;
				border: 1px solid $dark;
				&.none {
					border: none;
				}
			}
			img {
				width: 100%;
				height: auto;
			}
		}//img-section
		.info-section{	
				min-height: 130px;
				margin: 0px auto 15px;
				&.long {
					height: 200px;
				}	
		}//info-section
	}//casecontent

	
	#caseMan {
		.segment:nth-child(2) .img-container,
		.segment:nth-child(5) .img-container {
			padding: 0px 30px;
			img {
				height: 216px;
			}
		}
	}
	#casePitt {
		.info-section.long {
			height: 275px
		}
	}
	#caseSaints {
		.info-section {
			height: 150px;
		}
		.segment:nth-child(2) .img-container img,
		.segment:nth-child(3) .img-container,
		.segment:nth-child(3n) .img-container img {
				height: 319px;
				width: auto;
			
		}
	}
	#caseLilacs {
		.segment:first-child .img-container,
		.segment:nth-child(3) .img-container,
		.segment:first-child .img-container img,
		.segment:nth-child(3) .img-container img {
			height: 177px;
			width: auto;
		}
		.segment:first-child p,
		.segment:nth-child(3n) p {
			padding-left: 20px;
			padding-right: 10px;
		}
	}
	#caseBird {
		img {
			width: 100%;
		}
		.segment:first-child .img-container img,
		.segment:nth-child(2) .img-container img {
				height: 400px;
				width: auto;
		}
	}
	#caseWoman {
		.segment:first-child .img-container img {
				height: 386px;
				width: auto;
		}
	}
	#caseVirgin {
		.segment:nth-child(2) .img-container {
			padding-left: 6px;
			padding-right: 6px;
		}
	}
	#caseElephant {
		.case-container {
			min-height: 80px;
			padding: 0px;
		}
		.info-section {
			min-height: 50px;
		 p {
		 		min-height: 50px;
				text-align: center;
			}
		}
	}
	footer {
		position: relative;
		#contact {
			margin: 20px 0px;
		}
	}//footer

	@media only screen and (max-width: 1199px){
		.navbar .navbar-collapse {
			margin: 0px auto;
			.navbar-nav {
				width: 90%;
				float: none;
				margin: 0px auto;
				li {
					width: 15%;
					a {
						padding: 10px 3px;
						text-align: center;
					}//a
				}//li
			}//navbar-nav
		}//navbar-collapse
	}//media only
	
}// media kindle

//=========================
//******  iPAD  MD   ******
//=========================
@media only screen and (min-width: 900px) {
	.section .container {
		min-width: 900px;
		max-width: 1030px;
	}//container

	.jumbotron, footer {
		background: $dark url('../img/md/bowtieMD.jpg') no-repeat center top;
	}//varies

	#about {
		.img-container {
			height: 400px;
			background: $dk-zepia url('../img/md/olga.jpg') no-repeat top left;
			background-size: cover;
		}
		.testimonials {
			li {
				margin: 0px;
				padding: 0px 10px 20px 0px;
				border-bottom: none;
				&:nth-child(even){
					padding: 0px 0px 20px 10px;
				}
			}
			p {
				height: 350px;
				padding: 20px 20px 70px;
				margin-bottom: 0px;
				background-color: $zepia;
				border: 1px solid $dk-zepia;
			}
			span {
				margin-top: -70px;
			}
		}
	}//about

	#contactPanel {
		.img-container {
			background: url('../img/md/mapMDL.jpg') no-repeat top center;
		}//img-container
	}//contactPanel
	
	#services {
		.img-container {
			width: 100%;
			height: 450px;
			background: url('../img/md/services.jpg') no-repeat top left;
			background-size: cover;
		}
		.txt-container {
			li {
				margin-bottom: 0px;
			}
		}
	}//services

	#picWall {
		.pic-container {
			position: relative;
			min-height:  550px;
			height: 750px;
		}
		.pic-frame {
			position: absolute;
			overflow: hidden;
			border: 2px solid $dark;
			background: $dark url('../img/lg/sprites.jpg') no-repeat;
			@include shadow();
			@include transition();
			&:hover .details {
				bottom: 0px;
				@include transition();
			}
		}//frame
		#girl {
			top: 40px;
			left: 0px;
			width: 260px;
			height: 290px;
		}//girl
		#elephant {
			top: 550px;
			left: 230px;
			width: 120px;
			height: 90px;
			background-position: -279px -60px;
		}//elephant
		#womanPortrait {
			top: 660px;
			left: 230px;
			width: 120px;
			height: 160px;
			background-size: 950%;
			background-position: -270px -180px;
			&.details {
				padding-top: 10px;
				padding-bottom: 0px;
			}
		}//woman
		#saints {
			top: 350px;
			left: 590px;
			width: 150px;
			height: 180px;
			background-position: -420px 0px;
		}//saints
		#landscape {
			top: 0px;
			left: 280px;
			width: 290px;
			height: 180px;
			background-position: -590px 0px;
		}//landscape
		#mrsPitt  {
			top: 40px;
			left: 590px;
			width: 230px;
			height: 290px;
			background-position: -902px 0px;
		}//mrsPitt
		#virgin  {
			top: 550px;
			left: 385px;
			width: 170px;
			height: 220px;
			background-position: -20px -310px;
		}//virgin
		#lilacs {
			top: 350px;
			left: 60px;
			width: 200px;
			height: 165px;
			background-size: 625%;
			background-position: -225px -399px;
		}//lilacs
		#manPortrait {
			top: 200px;
			left: 295px;
			width: 260px;
			height: 330px;
			background-position: -425px -205px;
		}//manPortrait
		#street {
			top: 550px;
			left: 20px;
			width: 180px;
			height: 270px;
			background-position: -700px -200px;
		}//street
		#bird {
			top: 550px;
			left: 590px;
			width: 200px;
			height: 270px;
			background-size: 750%;
			background-position: -1182px -400px;
		}//bird	
		.details {
			position: absolute;
			bottom: -200px;
			@include transBr();
			color: $sand;
			padding: 5px 3px;
			text-align: center;
			@include transition();
		}
	}//picWall
	
	#caseThmenu {
		ul {
			width: 785px;
		}
		li {
			height: 120px;
			background-size: 800%;
		}
		#thGirl {
			background-size: 600%;
			background-position: -30px -10px;
		}
		#thLandscape {
			background-size: 400%;
			background-position: -538px -40px;
		}
		#thMan {
			background-position: -430px -240px;
		}
		#thPitt {
			background-position: -860px -20px;
		}
		#thSaints {
			background-position: -381px -23px;
		}
		#thLilacs {
			background-position: -200px -340px;
		}
		#thBird {
			background-position: -825px -285px;
		}
		#thStreet {
			background-position: -650px -290px;
		} 
		#thWoman {
			background-size: 1000%;
			background-position: -320px -216px;
		}
		#thVirgin {
			background-position: -25px -290px;
		}
		#thElephant {
			background-size: 1100%;
			background-position: -358px -78px;
		}
	}
	#caseGirl {
		.img-section {
			height: 400px;
		}
	}
	#caseLandscape {
		.img-section {
			height: 230px;
		}
	}
	#caseMan {
		.segment:nth-child(2) .img-container,
		.segment:nth-child(5) .img-container {
			padding: 0px 30px;
			img {
				height: 300px;
			}
		}
	}
	#caseSaints {
		.case-container {
			clear: both;
		 .segment .img-container img {
				height: 320px;
				width: auto;
			}
		}
	}
	#caseLilacs {
		.segment:first-child .img-container,
		.segment:nth-child(3) .img-container,
		.segment:first-child .img-container img,
		.segment:nth-child(3) .img-container img {
			height: 252px;
			
		}
	}
	#caseWoman {
		.segment .img-container  {
			border:none;
		}
		.segment .img-container img {
				height: 386px;
				width: auto;

		}
	}
	#caseElephant {
		.case-container {
			min-height: 80px;
			> ul >li {
				padding:  0px 50px;
			}
		}
		.info-section {
			min-height: 50px;
		 p {
		 		min-height: 50px;
				text-align: center;
			}
		}
	}

	footer {
		#contact {
			width: 80%;
			margin: 0px auto;
		}
	}//footer
} // media ipad

//=========================
//*****  LAPTOP  LG  ******
//=========================
@media (min-width: 1200px) {
	.jumbotron, footer {
		background: $dark url('../img/lg/bowtieLG.jpg') no-repeat center top;
	}

	.jumbotron {
  	.banner {
			float: left;
			width: 45%;
			margin-left: 5%;
			text-align: center;
		}//banner
  }//jumbotron
	
	.navbar .navbar-collapse {
		float: right;
	}//navbar-collapse

	#intro {
		.row {
			overflow: hidden;
			div {
				width: 50%;
				float: left;
				p {
				text-align: left;
				padding: 10px 20px;
				}//p
			}//div
		}//row
	}//intro
	
	#about {
		.img-container {
			height: 570px;
			background: $dk-zepia url('../img/lg/olga.jpg') no-repeat top left;
			background-size: cover;
		}
		.testimonials p {
			height: 300px;
		}//testimonials
	}
	
	#contactPanel {
		.img-container {
			background: url('../img/lg/map.jpg') no-repeat center left;
		}//img-container
	}//contactPanel

	#services {
		.img-container {
			height: 425px;
			background: $dk-zepia url('../img/lg/services.jpg') no-repeat top left;
			background-size: cover;
		}
		.txt-container {
			padding: 30px 50px;
			h4 {
				font-size: 2rem;
			}
			ul {
				margin-top: 50px;
			}
			li {
				margin-bottom: 10px;
				font-size: 1.6rem;
			}
		}
	}//services
	
	#picWall {
		.pic-container {
			position: relative;
			height: 550px;
		}
		.pic-frame {
			position: absolute;
			overflow: hidden;
			border: 2px solid $dark;
			background: $dark url('../img/lg/sprites.jpg') no-repeat;
			@include shadow();
			@include transition();
			&:hover .details {
				bottom: 0px;
				@include transition();
			}
		}//frame
		#girl {
			top: 0px;
			left: 0px;
			width: 260px;
			height: 290px;
		}//girl
		#elephant {
			top: 65px;
			left: 280px;
			width: 120px;
			height: 90px;
			background-position: -279px -60px;
		}//elephant
		#womanPortrait {
			top: 180px;
			left: 280px;
			width: 120px;
			height: 160px;
			background-size: 950%;
			background-position: -270px -180px;
			&.details {
				padding-top: 10px;
				padding-bottom: 0px;
			}
		}//woman
		#saints {
			top: 0px;
			left: 420px;
			width: 150px;
			height: 180px;
			background-position: -420px 0px;
		}//saints
		#landscape {
			top: 0px;
			left: 590px;
			width: 290px;
			height: 180px;
			background-position: -590px 0px;
		}//landscape
		#mrsPitt  {
			top: 0px;
			left: 900px;
			width: 230px;
			height: 290px;
			background-position: -902px 0px;
		}//mrsPitt
		#virgin  {
			top: 310px;
			left: 00px;
			width: 170px;
			height: 220px;
			background-position: -20px -310px;
		}//virgin
		#lilacs {
			top: 365px;
			left: 200px;
			width: 200px;
			height: 165px;
			background-size: 625%;
			background-position: -225px -399px;
		}//lilacs
		#manPortrait {
			top: 200px;
			left: 420px;
			width: 260px;
			height: 330px;
			background-position: -425px -205px;
		}//manPortrait
		#street {
			top: 200px;
			left: 700px;
			width: 180px;
			height: 270px;
			background-position: -700px -200px;
		}//street
		#bird {
			top: 310px;
			left: 900px;
			width: 160px;
			height: 220px;
			background-position: -930px -320px;
		}//bird	
		.details {
			position: absolute;
			bottom: -200px;
			@include transBr();
			color: $sand;
			padding: 5px 3px;
			text-align: center;
			@include transition();
		}
	}//picWall

	#caseThmenu {
		padding: 70px 10% 30px;
		ul {
			width: 1100px;
			margin: 30px auto;
		}
		li {
			height: 100px;
			//background-size: 600%;
		}
		#thGirl {
			background-position: -10px -10px;
		}
		#thLandscape {
			background-size: 800%;
			background-position: -435px -15px;
		}
		#thMan {
			background-position: -295px -168px;
		}
		#thPitt {
			background-position: -600px -10px;
		}
		#thSaints {
			background-position: -265px -10px;
		}
		#thLilacs {
			background-size: 900%;
			background-position: -150px -260px;
		}
		#thBird {
			background-position: -575px -195px;
		}
		#thStreet {
			background-position: -455px -190px;
		} 
		#thWoman {
			background-size: 1000%;
			background-position: -223px -147px;
		}
		#thVirgin {
			background-position: -20px -220px;
		}
		#thElephant {
			background-size: 1250%;
			background-position: -285px -57px;
		}
	}
// #caseContent {
	// 	.case-container {
	// 		overflow: hidden;
	// 		.img-container, p {
	// 			width: 85%;
	// 		}
	// 		.img-container {
	// 			margin: 20px auto;
				
	// 		}
	// 		img {
	// 			width: 100%;
	// 			height: auto;
	// 		}
	// 		p {
	// 			min-height: 120px;
	// 			margin: 15px auto;
	// 			padding: 0px;
	// 			text-align: left;
	// 		}
	// 	}
	// }//case content


	
	// #caseGirl {
	// 	.img-container {
	// 			height: 450px;
	// 		}
	// 	p {
	// 			min-height: 120px;
	// 		}
	// }
	// #caseLandscape {
	// 	p {
	// 		height: 125px;
	// 	}
	// }#casePitt {
	// 	p {
	// 			height: 175px;
				
	// 		}
	// }
	// #caseSaints {
	// 	.case-container {
	// 		span, p {
	// 			width: 85%;
	// 		}
	// 		span {
	// 			display: block;
	// 			width: 85%;
	// 			margin: 0px auto;
	// 			background: $dark;
	// 			border: 1px solid black;
	// 		}
	// 		.img-container {
	// 			width: 350px;
	// 			height: 420px;
	// 			border: none;
	// 			&.saint1 {
	// 				width: 350px;
	// 			}
	// 			&.saint2 {
	// 				width: 230px;
	// 			}
	// 			&.saint3{
	// 				width: 278px;
	// 			}
	// 			&.saint4 {
	// 				width: 350px;
	// 			}
	// 		}//img-c
	// 	}
	// }//caseSaints
	// #caseLilacs {
	// 	// .case-container {
	// 	// 	li:first-child .img-container,
	// 	// 	li:nth-child(3) .img-container 
	// 	// 	 {
	// 	// 		width: 66%;
	// 	// 	}
	// 	// }

	// }//caseLilacs
	// #caseBird {
	// 	.case-container {
	// 		li {
	// 			height: 720px;
	// 		}
	// 		li:nth-child(1) .img-container {
	// 			width: 75%;
	// 		}
	// 	}
	// }//caseBird
	// #caseStreet {
	// 	li.segment:nth-child(2){
	// 		padding-top: 120px;
			
	// 		text-align: left;
	// 		p {
	// 			height: 300px;
	// 			line-height: 3rem;
	// 		}
	// 	}
	// }
	// #caseWoman {
	// 	.case-container {
	// 		li:first-child .img-container {
	// 			width: 59%;
	// 		}
	// 	}
	// }
	// #caseElephant {
	// 	p.intro {
	// 		height: 75px;
	// 	}
	// 	p.small {
	// 		height: 50px;
	// 		color: $dk-zepia;
	// 	}
	// }
	// #caseMan {
	// 	.case-container {
	// 		.img-container, p {
	// 			width: 90%;
	// 		}
	// 		p {
	// 			margin-bottom: 50px;
	// 		}
	// 	}
	// }

	footer #contact {
			width: 60%;
	}	
}// media laptop

//=========================
//****  SCREEN  xLG *******
//=========================
@media (min-width: 1680px) {
	body { 
		text-align: center;
		.container {
			width: 1280px !important;
			margin-left: auto !important;
			margin-right: auto !important;
		}//div
	}//body

	.jumbotron, footer {
		background: $dark url('../img/xlg/bowtieXLG.jpg') no-repeat center top;
	}//jumbotron
}// media screen


