//========================
//**** MOBILE XSM 15px ***
//=========================
@media only screen and (max-width: 767px) {
	.navbar {
		position: fixed;
		z-index: 1000;
		border: none;
		background: url('../img/xsm/bowtieXSM.jpg') no-repeat top center;
		background-size: 100% 60px;
		h1 {
			margin: 0px;
		}
		.navbar-brand {
			font-size: 3rem;
			padding: 15px 0px;
		}
		.navbar-toggle {
			width: 65px;
			padding-left: 45px;
			margin-top: 15px;
			@include transBr(0.7);
			&:before {
				content:'Menu';
				position: absolute;
				top: 6px;
				left: 0px;
				color: $ocre;
				font-size: 14px;
				font-weight: normal;
			}
		}
		.icon-bar {
			background-color: $ocre;
		}
		.navbar-collapse {
			@include transBr(0.1);
			@include transition();
		}
	} //navbar
	.section {
		padding: 50px 0px 40px;
		.container {
			padding: 0px 15px;
			background-color: $sand;
		}
		h2 {
			font-size: 2.5rem;
		}//h2
		.row {
			padding: 20px 10px;
			margin: 0px;
			> div {
				padding: 0px;
			}
		}
		h6.mobile-only {
			margin-top: 50px;
		}
	}//section
	
	#intro,
	#services,
	#about,
	#contactPanel {
		.title-img {
			position: relative;
			height: 250px;
			background-color: $dark;
			background-repeat: no-repeat; 
			background-position: left bottom;
			background-size: 100%;
			h2 {
				position: absolute;
				bottom: 0px;
				width: 100%;
				padding: 5px 15px;
				margin-bottom: 0px;
				@include transBr(0.3); 
			}//h2
			span{
				display: block;
				margin-top: 10px;
				margin-bottom: 10px;
				font-size: 12px;
				color: white
			}
		}//img-title
		.container {
			position: relative;
			padding: 30px 15px;
		}
		.txt-container {
			padding: 0px 0px 40px;
		}
		ul {
			padding: 0px 15px;
		}
	}//intro,services,about
	#intro .title-img {
		height: 275px;
		background-image: url('../img/intro.jpg');
		background-position: left 150%;

	}
	#services { 
		.title-img {
			background-image: url('../img/services.jpg');
		}
		.txt-container {
			padding-bottom: 20px;
			border-bottom: 1px solid $dk-zepia;
			margin-bottom: 20px;
			h4{
				color: $dark;
			}
			ul {
				margin-top: 0px;
			}
		}
	}//services
	#about {
		.title-img {
		background-image: url('../img/olga.jpg');
		background-size: 110%;
		background-position: right 80%
		}//title-img
	}//about
	#contactPanel {
		.title-img {
			background-image: url('../img/map.jpg');
			background-position: top center;
		}//title-img
	}//contactPanel
	#caseWall {
		padding-bottom: 0;
	}
	#picWall {
		.container {
			padding: 0px 0px 40px;
			border-top: 1px dotted $ocre;
		}//container
		.pic-frame {
			height: 140px;
			padding: 0px 5px 10px;
			border-bottom: 1px dotted $ocre;
			overflow: hidden;
			@include transition();
			a {
				color: $dark;
				&:hover {
					text-decoration: none;
				}
			}//a
			&:hover {
				background-color: $zepia;
				@include transition();
			}
			h6 {
				color: $dk-zepia;
			}
		}//frame 
		.details {
			position: relative;
			min-height: 120px;
			padding-left: 125px;
			padding-right: 25px;
			text-align: left;
			font-size: 1.2rem;
			&:before {
				content:'';
				position: absolute;
				left: 0px;
				display: block;
				width: 120px;
				height: 120px;
				background: url('../img/xsm/sprites.jpg') no-repeat;
				background-size: 600%;
			}//:before

			&:after {
				content: '\e080';
				position: absolute;
				right: 5px;
				top: 50px;
				font-family: 'Glyphicons Halflings';
				font-size: 2rem;
			}//after
		}//details
		li:first-child {
			font-weight: bold;
		}//li
		#girl {
			.details:before {
				background-position: 0px 0px;
				}		
		}//girl
		#elephant {
			.details:before {
				background-position: -120px 0px;
			}
		}//elephant
		#street {
			.details:before {
				background-position: -240px 0px;
			}
		}//st
		#landscape {
			.details:before {
				background-position: -360px 0px;
			}
		}//landscape
		#bird {
			.details:before {
				background-position: -480px 0px;
			}		
		}//bird
		#mrsPitt  {
			.details:before {
				background-position: 0px -120px
			}
		}//mrsPitt
		#virgin  {
			.details:before {
				background-position: -120px -120px
			}
		}//virgin
		#lilacs {
			.details:before {
				background-position: -240px -120px
			}
		}//lilacs
		#womanPortrait {
			.details:before {
				background-position: -360px -120px
			}	
		}//woman
		#saints {
			.details:before {
				background-position: -480px -120px;
			}
		}//saints
		#manPortrait {
			.details:before {
				background-position: -600px -120px
			}
		}//manPortrait
	}//casewall

	.case {
		text-align: center;
		h3, h2 {
				font-size: 18px;
			}
		.case-info{
			padding: 0px;
			li {
				width: 100%;
				padding: 0px 3px;
				font-size: 11px;
			}
		}
		.segment {
			margin-bottom: 20px;
		}
		.info-section {
			margin-top: 20px;
			font-size: 14px;
			p {
				padding-bottom: 20px;
			}
		}
	}//case

	#testimonials {
		li {
			padding: 0px 0px 30px;
			border-bottom: 1px dotted $dk-zepia;
			margin-bottom: 10px;
		}
		span {
			display: block;
			width: 100%;
			text-align: right;
		}
	}
	
	footer {
		position: fixed;
		bottom: 0px;
		z-index: 1000;
		height: 40px;
		-webkit-box-shadow: 0px -2px 2px 1px rgba(0, 0, 0, 0.3);
		-moz-box-shadow:    0px -2px 2px 1px rgba(0, 0, 0, 0.3);
		box-shadow:         0px -2px 2px 1px rgba(0, 0, 0, 0.3);
		cursor: pointer;
		@include transition();
		&.openUp {
			height: 145px;
			background-color: $dark;
			@include transition();
			&:before {
				content: '\e088';
				position: absolute;
				top: 7px;
				right: 7px;
				color: $ocre;
				font-weight: lighter;
				z-index: 1000;
			}
		}//open
		.container-fluid {
			padding-top: 0px;
			@include transBr(0.1);
		}
	}//footer
	#mNav {
		padding: 0px;
		margin: 0px;
		text-align: center;
		ul {
			width: 80%;
			padding: 0px;
			margin: 0px auto;
		}
		li {
			position: relative;
			height: 40px;
			&:after {
			content: '';
			position: absolute;
			top: 5px;
			left: 35%;
			font-size: 2rem;
			color: $sand;
			}//after
			&#call:after {
				content: '\e182';
			}
			&#text:after {
				content: '\e111';
			}
			&#emailUs:after {
				content: '\2709';
			}
			&#showMap:after {
				content: '\e062';
			}
		}//li
		a {
			position: relative;
			z-index: 1500;
			display: block;
			width: 100%;
			height: 100%;
			text-align: center;
			color: $sand;
			text-indent: -9999px;
			border-radius: 10px;
			&:hover {
				background-color: transparentize($sand,0.8);
			}
		}//a
	}//mNav
		
	@media (orientation: landscape) {
		.navbar li {
			height: 40px;
			&.contact {
				display: block;
			}
		}//.navbar
		#intro .title-img {
			height: 250px;
			background-position: left bottom;
		}
		#about .title-img {
			background-size: 100%;
			background-position: right 67%;
		}
		#contactPanel .title-img {
			background-position: center 50%;
		}//title-img
		.case {
			ul.step {
				overflow: hidden;
				li {
					float: left;
				}
				.img-container {
					width: 65%;
					padding: 0px 20px;
				}
				.info-section {
					width: 35%;
				}
			}
		} 
		footer {
			position: relative;
		}

	}//landscape
}// media mobile

//=========================
//******  KINDLE  SM  *****
//=========================
@media (min-width: 768px) {
	.mobile-only {
		display: none !important;
	}//mobile-only
	.navbar {
		position: absolute;
		bottom: 0px;
		.navbar-collapse ul {
			width: 90%;
			float: none;
			margin: 0px auto;
			li {
				width: 15%;
				&:nth-child(3) {
					width: 150px;
				}
			}
			a {
				padding: 15px 10px;
				text-align: center;
			}
		}
	}//navbar	
	.jumbotron {
		padding: 10px 10px 70px;
		.banner {
			h1 {
				margin-bottom: 0px;
			}
			h2 {
				width: 80%;
				margin: 0px auto;
			}
		}
	}//jumbotron
	.jumbotron, footer {
		background: url('../img/sm/bowtieSM.jpg') no-repeat center top;
	}
	.section .framed {
		border-top: 1px solid $dark;
		background-repeat: no-repeat;
		background-position: left bottom;
		.txt-container {
			width: 60%;
			padding: 30px 10px 30px 30px;
			margin-left: 40%;
			background-color: $zepia;
		}//txt-container
	}//framed
	#intro .framed {
		background-image: url('../img/intro.jpg');
		background-size: 65%;
		background-position: -60px 0px;
	}
	#services	.framed {
		margin-bottom: 50px;
		background-image: url('../img/services.jpg');
		background-size: 47%;
	}//services
	#about .framed {
		margin-bottom: 60px;
		background-image: url('../img/olga.jpg');
		background-size: 100%;
	}
	#contactPanel {
		.framed {
			overflow: hidden;
			background: url('../img/map.jpg') no-repeat top left;
		}//img-container
	}//contactPanel

	#picWall {
		.pic-container {
			position: relative;
			height: 875px;
		}
		.pic-frame {
			position: absolute;
			overflow: hidden;
			border: 2px solid $dark;
			background: $dark url('../img/sprites.jpg') no-repeat;
			@include shadow();
			@include transition();
			&:hover .details {
				bottom: 0px;
				@include transition();
			}
		}//frame
		#girl {
			top: 0px;
			left: 0px;
			width: 250px;
			height: 295px;
		}//girl
		#landscape {
			top: 0px;
			left: 430px;
			width: 290px;
			height: 180px;
			background-position: -586px 0px;
		}//landscape
		#manPortrait {
			top: 195px;
			left: 495px;
			width: 225px;
			height: 300px;
			background-position: -440px -208px;
		}//manPortrait
		#mrsPitt  {
			top: 310px;
			left: 15px;
			width: 235px;
			height: 285px;
			background-position: -897px 0px;
		}//mrsPitt
		#saints {
			top: 0px;
			left: 265px;
			width: 150px;
			height: 180px;
			background-position: -426px 0px;
		}//saints
		#lilacs {
			top: 195px;
			left: 265px;
			width: 215px;
			height: 180px;
			background-position: -192px -318px;
		}//lilacs
		#bird {
			top: 390px;
			left: 265px;
			width: 215px;
			height: 270px;
			background-position: -888px -323px;
		}//bird	
		#street {
			top: 510px;
			left: 495px;
			width: 180px;
			height: 275px;
			background-position: -700px -217px;
		}//street
		#womanPortrait {
			top: 675px;
			left: 350px;
			width: 130px;
			height: 185px;
			background-position: -285px -118px;
			&.details {
				padding-top: 10px;
				padding-bottom: 0px;
			}
		}//woman
		#virgin  {
			top: 610px;
			left: 0px;
			width: 180px;
			height: 248px;
			background-position: -4px -319px;
		}//virgin
		#elephant {
			top: 675px;
			left: 200px;
			width: 130px;
			height: 105px;
			background-position: -284px -1px;
		}//elephsant
		.details {
			position: absolute;
			bottom: -200px;
			@include transBr();
			color: $sand;
			padding: 5px 3px;
			text-align: center;
			@include transition();
		}
	}//picWall

	.case-nav {
		ul {
			width: 614px;
		}
		li {
			height: 120px;
			background-size: 725%;
			&.girl {
				background-position: -30px -10px;
			}
			&.land {
				background-position: -850px -98px;
			}
			&.man {
				background-position: -296px -163px;
			}
			&.pitt {
				background-position: -603px -8px;
			}
			&.saints {
				background-position: -269px -0px;
			}
			&.lilacs {
				background-position: -137px -200px;
			}
			&.bird {
				background-position: -579px -208px;
			}
			&.street {
				background-position: -450px -186px;
			} 
			&.woman {
				background-size: 850%;
				background-position: -209px -88px;
			}
			&.virgin {
				background-position: -11px -210px;
			}
			&.elephant {
				background-size: 1270%;
				background-position: -335px 0px;
			}
		}
	}
	.case-info {
		li:first-child {
				padding-right: 0px;
			&:after {
					content: '|';
					margin-left: 12px;
					font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
			}
		}
		span {
			display: inline-block;
			padding: 0px 12px;
		}
	}
	.case {
		padding-top: 50px;
		.segment {
			border: 15px solid $sand;
		}
		.img-container {
			height: 300px;
		}//img-container
		.info-section {	
			padding: 20px 0px;
			margin-bottom: 20px;
		}	
		&.girl {
			.info-section {	
				height: 150px;
			}	
		}
		&.land {
			.img-container {
				height: 175px;
			}
			.info-section {
				height: 200px;
			}
		}
		&.man {
			.img-container {
				height: 260px;
			}
			.info-section {
				height: 160px;
			}
			.segment:nth-child(3) .info-section,
			.segment:nth-child(4) .info-section {
					height: 200px;
				}
		}
		&.pitt {
			.img-container {
				padding: 0px 10px;
			}
			.info-section {
				height: 250px;
			}
		}
		&.saints {
			.segment:nth-child(2n) img,
			.segment:nth-child(3n) img {
					height: 100%;
					width: auto;
				}
			.img-container {
				height: 330px;
			}
			.info-section {
				height: 190px;
			}
		}
		&.lilacs {
			.segment:nth-child(2n) img,
			.segment:last-child img {
					height: 100%;
					width: auto;
					max-width: auto;
				}
			.img-container {
				height: 220px;
			}
			.info-section {
				height: 145px;
			}
		}
		&.bird {
			.img-container {
				height: 320px;
			}
			.segment:nth-child(3n) .img-container,
			.segment:last-child .img-container {
					height: 175px;
				}
			.info-section {
				height: 170px;
			}
		}
		&.street {
			ul.step {
				overflow: hidden;
				padding-bottom: 30px;
				li {
					float: left;
				}
				.img-container {
					width: 60%;
					height: 100%;
					padding: 0px 20px;
				}
				.info-section {
					width: 40%;
					padding-top: 0px;
				}
			}
		}
		&.woman {
			.info-section {
				height: 210px;
			}
		}
		&.virgin {
			.img-container {
				height: 200px;
			}
			.info-section {
				height: 300px;
			}
		}
		&.elephant {
			.segment {
				border-left-width: 0px;
				border-right-width: 0px;
				height: 290px;	
				text-align: left;
			}
			.img-container {
				height: 150px;
				img {
					height: 150px;
					width: auto;
				}
			}
			
		}
	}//case

	footer {
		position: relative;
		#contact {
			margin: 20px 0px;
		}
	}//footer
	@media only screen and (max-width: 979px) {
		.section .framed {
			margin-bottom: 30px;
		}
		#about{
		 	.framed {
		 		background-image: url('../img/sm/olga.jpg');
				background-size: 100%;
				background-position: center top;
				.txt-container {
					width: 100%;
					padding: 30px 10px;
					margin-top: 330px;
					margin-left: 0px;
				}
			}
			.testimonials {
				border-top: 1px solid $dark;
				padding-top: 20px;
				li {
					border-bottom: 1px dotted $dk-zepia;
					margin-bottom: 20px;
				}
			}
		}//about
	}
}// media kindle

//=========================
//******  iPAD  MD   ******
//=========================
@media only screen and (min-width: 980px) {
	.jumbotron, footer {
		background: $dark url('../img/md/bowtieMD.jpg') no-repeat center top;
	}//varies
	.section .container,
	#picWall .container {
		width: 960px;	
	}//container
	.section h2 {
		font-size: 3rem;
	}
	#intro .framed {
		background-size: 45%;
		background-position: 0px -20px;
	}
	#services	.framed {
		background-size: 40%;
		background-position: 0px -30px;
	}//services
	#about {
		.framed {
			background-size: 50%;
			background-position: -85px 0px;	
		}
		.testimonials {
			margin-left: -20px;
			margin-right: -20px;
			li {
				width: 50%;
				float: left;
				border: 20px solid $sand;
				margin-bottom: 0px;
				background-color: $zepia;
			}
			p {
				min-height: 200px;
			}
		}
	}//about

	#contactPanel {
		.img-container {
			background: url('../img/md/mapMDL.jpg') no-repeat top center;
		}//img-container
	}//contactPanel

	#picWall {
		.pic-container {
			height: 750px;
		}
		#girl {
			top: 45px;
			width: 245px;
			height: 299px;
		}//girl
		#landscape {
			left: 410px;
			width: 275px;
			height: 165px;
			background-size: 385%;
			background-position: -535px -10px;
		}//landscape
		#manPortrait {
			top: 180px;
			left: 435px;
			width: 250px;
			height: 315px;
			background-size: 475%;
			background-position: -442px -225px;
		}//manPortrait
		#mrsPitt  {
			top: 45px;
			left: 700px;
			width: 230px;
		}//mrsPitt
		#saints {
			left: 260px;
			width: 135px;
			height: 165px;
			background-size: 770%;
			background-position: -377px -2px;
		}//saints
		#lilacs {
			top: 510px;
			left: 435px;
			width: 250px;
			height: 200px;
			background-size: 504%;
			background-position: -203px -344px;
		}//lilacs
		#bird {
			top: 345px;
			left: 700px;
			width: 205px;
			height: 247px;
		}//bird	
		#street {
			top: 360px;
			left: 85px;
			width: 160px;
			height: 245px;
			background-size: 630%;
			background-position: -598px -177px;
		}//street
		#womanPortrait {
			top: 180px;
			left: 260px;
			width: 160px;
			height: 200px;
			background-size: 850%;
			background-position: -326px -135px;
		}//woman
		#virgin  {
			top: 510px;
			left: 265px;
			width: 150px;
			height: 200px;
			background-size: 620%;
			background-position: -0px -253px;
		}//virgin
		#elephant {
			top: 395px;
			left: 275px;
			height: 100px;
		}//elephant
	}//picWall
	
	.case-nav {
		ul {
			width: 960px;
		}
		li {
			width: 84px;
			height: 84px;
			padding: 0px;
			background-size: 676%;
			&.land {
				background-position: -850px -10px;
			}
			&.man {
				background-position: -216px -129px;
			}
			&.pitt {
				background-position: -451px -8px;
			}
			&.saints {
				background-position: -201px -0px;
			}
			&.lilacs {
				background-position: -101px -153px;
			}
			&.bird {
				background-position: -437px -159px;
			}
			&.street {
				background-position: -339px -142px;
			} 
			&.woman {
				background-position: -170px -74px;
			}
			&.virgin {
				background-position: -3px -165px;
			}
			&.elephant {
				background-position: -257px 0px;
			}
		}
	}
	.case {
		.img-container {
			height: 350px;
		}//img-container
		.info-section {	
			height: 120px;
		}
		&.land {
			.img-container {
				height: 250px;
			}
			.info-section {
				height: 170px;
			}
		}
		&.man {
			.info-section {
				height: 120px;
			}
		}	
		&.pitt {
			.img-container {
				height: 385px;
				padding: 0px 15px;
			}
			.info-section {
				height: 180px;
			}
		}	
		&.saints {
			.info-section {
				height: 140px;
			}
		}
		&.lilacs {
			.info-section {
				height: 110px;
			}
		}	
		&.bird,
		&.woman {
			.info-section {
				height: 150px;
			}
		}
		&.virgin {
			.img-container {
				height: 305px;
			}
			.info-section {
				height: 240px;
			}
		}	
		&.elephant {
			.segment{
				height: 300px;
			}
			.img-container {
				height: 210px;
				padding-top: 0px;
				img {
					height: 210px;
				}
			}
		}	
	}//case

	footer {
		#contact {
			width: 80%;
			margin: 0px auto;
		}
	}//footer
} // media ipad

//=========================
//*****  LAPTOP  LG  ******
//=========================
@media (min-width: 1200px) {
	.navbar .navbar-collapse {
		width: 65%;
		float: right;
	}//navbar-collapse
	.jumbotron {
  	.banner {
			float: left;
			width: 45%;
			margin-left: 5%;
			text-align: center;
		}//banner
  }//jumbotron
	.jumbotron, footer {
		background: $dark url('../img/lg/bowtieLG.jpg') no-repeat center top;
	}	
	.section .container {
		width: 1024px;
	}//container
	#intro .framed {
		background-size: 40%;
	}
	#about .testimonials p {
		min-height: 175px;
	}
	#contactPanel {
		.img-container {
			background: url('../img/lg/map.jpg') no-repeat center left;
		}//img-container
	}//contactPanel
	#picWall {
		.container {
			width: 1140px;
			margin: 0px auto;
		}
		.pic-container {
			height: 550px;
		}
		#girl {
			top: 0px;
			width: 250px;
			height: 290px;
			background-position: -15px 0px;
		}//girl
		#landscape {
			left: 575px;
			width: 285px;
			height: 170px;
			background-position: -555px -5px;
		}//landscape
		#manPortrait {
			top: 190px;
			left: 410px;
			width: 260px;
			height: 340px;
			background-position: -459px -220px;
		}//manPortrait
		#mrsPitt  {
			top: 0px;
			left: 880px;
			height: 290px;
			background-size: 470%;
			background-position: -831px 3px;
		}//mrsPitt
		#saints {
			left: 410px;
			width: 145px;
			height: 170px;
			background-position: -408px -5px;
		}//saints
		#lilacs {
			top: 365px;
			left: 185px;
			width: 205px;
			height: 165px;
			background-size: 575%;
			background-position: -215px -333px;
		}//lilacs
		#bird {
			top: 310px;
			left: 880px;
			width: 170px;
			height: 220px;
			background-size: 550%;
			background-position: -713px -257px;
		}//bird	
		#street {
			top: 190px;
			left: 690px;
			width: 170px;
			height: 260px;
			background-position: -636px -187px;
		}//street
		#womanPortrait {
			top: 170px;
			left: 270px;
			width: 120px;
			height: 175px;
			background-size: 950%;
			background-position: -277px -110px;
		}//woman
		#virgin  {
			top: 310px;
			left: 0px;
			width: 165px;
			height: 220px;
			background-size: 612%;
			background-position: 1px -273px;
		}//virgin
		#elephant {
			top: 60px;
			left: 270px;
			width: 120px;
			height: 90px;
			background-size: 850%;
			background-position: -242px -2px;
		}//elephant
	}//picWall
	.case-nav {
		ul {
			width: 990px;
		}
		li {
			width: 90px;
			height: 90px;
			background-size: 628%;
			&.saints {
				background-size: 750%;
				background-position: -245px -10px;
			}
			&.street {
				background-size: 675%;
				background-position: -364px -157px;
			} 
			&.woman {
				  background-size: 802%;
			}
			&.virgin {
				background-size: 657%;
			}
			&.elephant {
				background-position: -285px 0px;
			}
		}
	}
	.case {
		.img-container {
			height: 350px;
		}//img-container
		.info-section {	
			height: 120px;
		}
		&.man {
			.info-section {
				height: 200px;
			}
		}		
	}//case
}// media laptop

//=========================
//****  SCREEN  xLG *******
//=========================
@media (min-width: 1680px) {
	body { 
		text-align: center;
		.container {
			width: 1280px !important;
			margin-left: auto !important;
			margin-right: auto !important;
		}//div
	}//body
	.jumbotron, footer {
		background: $dark url('../img/xlg/bowtieXLG.jpg') no-repeat center top;
	}//jumbotron
}// media screen


