
$ocre: #f39605;
$sand: #fbf9f3;
$dark: #33261c;
$wine: #af1050;

$zepia: #f6f3ec;
$dk-zepia: #a5a099;

$ocre-lt: #fbbd5c;
$brown: #473b31;



/* mix-in */
@mixin transBr($level:0.1){
	background-color: transparentize($dark, $level);
	a {
		color: $ocre;
	}
	a:hover {
		color: ocre-lt;
	}
}

@mixin shadow( $hv:2px, $vv:1px) {
	-webkit-box-shadow: $hv $hv $hv $vv  rgba(0,0,0, 0.3);
	-moz-box-shadow: $hv $hv $hv $vv rgba(0,0,0, 0.3);
	box-shadow: $hv $hv $hv $vv rgba(0,0,0, 0.3);
}
@mixin txt-shdw() {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .9);
}

@mixin transition($prop:all, $time:0.8s) {
  transition: $prop $time; 
}

@mixin sprite( $size:100%) {
  background: url(../img/sprites.png) no-repeat;
  background-size: $size;
}

@mixin radius ( $rad:20px) {
  -webkit-border-radius: $rad;
  -moz-border-radius: $rad;
  border-radius: $rad;
}


