@import '_myVariables.scss';
body {
	background-color: $sand;
	font-size: 16px;	
}//body
.wrapper {
	position: relative;
	min-height: 100%;
}
main {
	padding-bottom: 60px;
}
// headers,links & fonts
	a.navbar-brand, span.logo, 
	h1, h2, h3, h4, h5, h6,
	label, footer .row,
	input[type='submit'] {
	  font-family: 'Cinzel', cursive;
	  display: block;
	  color: $ocre;
	  &::first-letter {
	  	font-size: 120%;
	  }//first letter
	}
	h1 {
		font-size: 3.5rem;
	}
	.section h2 {
		margin: 20px 0px;
	}
	:before, :after {
		font-family: 'Glyphicons Halflings';
	}
	a, a:link, a:focus, a:visited, a:hover {
		outline: none;
	}
	.accent,
	#resources h5 a {
		color: $wine !important;
	}

//form elements
	input, textarea, 
	textarea:hover, input:hover,
	textarea:active, input:active,
	textarea:focus, input:focus {
	  outline: 0px !important;
	  background-color: transparent;
	  -webkit-appearance: none;
	  -moz-appearance: none;
	  appearance: none;
	  border: none;
	}

//lists
	ul {
		padding-left: 0px;
		margin: 0px;
		&.clean {
		list-style-type: none !important;	
		}
	} //ul 

//=======================
// ******  HEADER *****
//=======================
header {
	position: relative;
}//header
.jumbotron, footer{
	background-size: cover !important;
	}
.jumbotron {
	a:hover {
		text-decoration: none;
	}
	.banner {
		text-align: center;
		h1 a, h2, span {
			color: $ocre;
			@include txt-shdw();
		}
		h2 {
			color: $sand;
		}
		span {
			font-size: 14px;
		}
	}//banner
}//jumbotron 
.navbar {
	width: 100%;
	margin-bottom: 0px;
	@include transBr(0.3);
	@include shadow();
	@include txt-shdw();
	.navbar-brand:hover {
		color: $ocre;
		text-decoration: none;
	}//a
	.navbar-collapse {
			a {
				height: 50px;
				padding-top: 15px;
			}
			a, a:visited  {
				color: $ocre;
			}
			li:hover a, a.active, a:focus{
				color: $ocre-lt;
				background-color: $dark;
				text-decoration: underline;
			}//hover active
	}//navbar-collapse
}// navbar
//=======================
// ******  SECTIONS *****
//=======================
.section {
	.container {
		max-width: 1200px;
	}
	h2 {
		text-align: center;
	}// h2	
	p {
			line-height: 2.5rem;
		}
}//section
.section .framed {
		h3, li {
			color: $dark;
		}	
		.txt-container {
			text-align: left;
			ul {
				margin-top: 30px;
				text-align: left;
				list-style-type: disc;
			}//ul
			li {
				margin-bottom: 10px;
			}
		}//txt-container
}//framed
#about {
	em {
		font-weight: 500;
	}
	.container {
		padding-bottom: 0px;
	}
	.testimonials {
		margin: 0px;
		li {
			padding: 20px 20px 50px;
		}
		span{
			display: block;
			position: absolute;
			bottom: 20px;
			right: 40px;
			font-style: italic;
		}//span
	}//testimonials
}//about
#contactPanel {
	a, a:hover, a:link, a:focus, a:visited {
		color: $dark;
		text-decoration: none;
	}
	a:hover, #email a {
		text-decoration: underline;
	}
	.txt-container {
		height: 400px;
		padding: 50px;
	}
	ul {
		padding-left: 0px;
		padding-top: 20px;
	}
}//contactPanel

#caseWall {
	.container > h6 {
		width: 90%;
		margin: 50px auto 20px;
		text-align: center;
		color: $wine;
	}
}//casewall
#picWall {
	.pic-frame a {
		display: block;
		width: 100%;
		height: 100%;
		h6 {
			color: $sand;
			margin-bottom: 0px;
		}
		h5{
			margin-top: 0px;
		}
	}
}
.case-nav {
	ul {
		margin: 20px auto 0px;
		overflow: hidden;
	}
	li {
		border: 1px solid $dark;
		background: $zepia url(../img/sprites.jpg);
		opacity: 0.4;
		@include transition();
		&:hover,
		&.active {
			opacity: 1;
			@include transition();
		}
	}
	a {
		display: block;
		width: 100%;
		height: 100%;
	}
}
.case {
	text-align: center;
	h3, .case-info, h2, .case-intro {
		text-align: center;
	}
	h3 {
		margin-bottom: 0px;
		color: $dark;
	}
	h2 {
		padding-bottom: 5px;
		border-bottom: 1px solid $dk-zepia;
		margin-top: 0px;
	}
	.case-info {
		display: inline-block;
		margin: 0px auto;
		overflow: hidden;
		li {
			float: left;
			padding: 0px 12px;
			font-size: 14px;
		}
		span {
			display: inline-block;
			padding: 0px 12px;
		}
	}//case-info

	
	.case-container {
		margin: 0px;
		padding: 0px;
	}
	.case-intro {
		text-align: left;
	}
	.segment {
		background-color: $zepia;
		padding: 30px 30px 0px;
		.img-container {
			overflow: hidden;
			img {
				max-width: 100%;
				height: auto;
			}
		}//img-container
		.info-section {		
			text-align: left;
			font-size: 14px;
		}//info-section
	}//segment
	.step {
		margin: 0px;
	}
	
}//case

#contactPanel {
	a, a:hover, a:link, a:focus, a:visited {
		color: $dark;
		text-decoration: none;
	}
	a:hover, #email a {
		text-decoration: underline;
	}
	.txt-container {
		height: 400px;
		padding: 50px;
	}
	ul {
		padding-left: 0px;
		padding-top: 20px;
		#email, #address, #phone {
			text-decoration: underline;
			span {
				margin-right: 5px;
			}
		}
	}
}//contactPanel

#resources {
	.container {
		padding-bottom: 0px;
	}
	li, p {
		text-align: left;
	}
	h5 {
		a {
			color: $ocre;
			&:after {
				content: ' >>';
				color: lt-ocre;
				font-size: 12px;
			}
		}
		margin-top: 50px;

	}
}//resource

//======================
//****** FOOTER ******//
//======================
footer {
	color: $ocre;
	margin-bottom: 0px; 
	text-align: center;
	letter-spacing: 0.1rem;
	.container-fluid {
			padding: 30px 0px 30px;
			@include transBr(0.7);
		}//container
	#contact {
		ul {
			overflow: hidden;
			max-width: 1100px;
			margin: 20px auto
		}
		li:not(.all) {
			width: 33%;
			float: left;
			text-align: center;
			font-size: 14px;
		}
		a {
			text-decoration: underline;

		}
		
		// #phone a:hover {
		// 	text-decoration: none;
		// }
	}
}//footer

@import '_media.scss';











//